{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import", // for parsing dynamic imports
    "@babel/plugin-transform-runtime" // for transforming async/await and dynamic imports
  ]
}
