.task-body {
  /* background-color: hsl(176, 58%, 50%); */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(198, 1%, 29%);
  font-family: "Architects Daughter", cursive;
  text-align: center;
  font-size: 2rem;
  height: 100vh;
}
.task-App {
  text-align: center;
  margin: 20px;
  height: auto;
  background: #f1f5f8;
  background-image: radial-gradient(#bfc0c1 7.2%, transparent 0);
  background-size: 25px 25px;
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00000040;
  padding: 1rem;
  box-sizing: border-box;
}

.form input {
  box-sizing: border-box;
  background-color: transparent;
  padding: 0.2rem;
  border-bottom-right-radius: 15px 3px;
  border-bottom-left-radius: 3px 15px;
  border: solid 3px transparent;
  border-bottom: dashed 3px #fdcb6e;
  font-family: "Architects Daughter", cursive;
  font-size: 1rem;
  color: hsla(260, 2%, 25%, 0.7);
  width: 90%;
}

.task-button {
  padding: 0;
  border: none;
  font-family: "Architects Daughter", cursive;
  text-decoration: none;
  padding: 1px;
  border-radius: 5px;
  margin-left: 5px;
}

.task-button span {
  display: block;
  /* padding: 0.2rem 0.5rem; */
  border-radius: 5px;
  border: 2px solid hsl(198, 1%, 29%);
  font-size: 1rem;
}
.button-section{
    background-color: hsl(176, 58%, 50%);
    display: flex;
    justify-content: center;
    margin: 3%;
    opacity: 0.8;
}
.submit-btn {
    border: 1px solid hsl(198, 1%, 29%) ;
    display: flex;
    padding: 2%;
    margin: 5%;
}
.submit-btn p {
  font-size: 20px;
}
.task-list {
  padding: 0;
  list-style: none;
}

.task-list-li {
  text-align: center;
  /* position: relative; */
  padding: 0.5rem;
  border-radius: 20px;
  background-color: #fdcb6e;
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.list-item {
  /* margin-right: 8px; */
  font-size: 1rem;
  letter-spacing: 0.5px;
  /* font-weight: bold; */
  /* max-width: 400px;  */
}
.task-manager {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-sections {
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
  /* max-width: 1550px;
  margin-top: 20px; */
}
/*list-style: none */
.task-section {
  flex: 1;
  /*margin: 0 5px; /* 25px margin on each side to create a 50px gap between them */
  min-width: 300px;

  border-radius: 20px;
}

.task-section:first-child {
  margin-right: 5px; /* Ensure there's a gap between the two sections */
}

.task-section:last-child {
  margin-left: 5px; /* Ensure there's a gap between the two sections */
}
.task-section h2 {
  background-color: hsl(176, 58%, 50%);
  padding: 1.2rem 1.2rem;
  border-radius: 20px;
  font-size: 1.5rem;
}
.heading h1{
  color: hsl(198, 1%, 29%) ;
}
@media screen and (max-width: 768px) {
  .task-sections {
    flex-direction: column;
    
  }
  .task-section{
    margin: 2% 0%;
  }
}
