
.calc-body {
    background-image: url('./maths_formulae_illn_2.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
}
.calculator {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.display {
    background-color: #222;
    color: #fff;
    text-align: right;
    padding: 20px;
    font-size: 2em;
}

.calc-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}

.calc-button {
    background-color: #eee;
    border: none;
    border-radius: 50%;
    padding: 20px;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #222;
}

.calc-button:hover {
    background-color: #ddd;
}

.calc-button:active {
    background-color: #ccc;
}
.ac {
    background-color: rgba(250, 110, 44, 0.936);
}
.del {
    background-color: rgb(255, 221, 0);
}
/* .del svg{
    width: 30px;
} */
.green
 {
    background-color: rgb(7, 191, 7);
    width: 90px;
}
.aqua {
    background-color: aqua;
}
.calc-h1{
    text-align: center;
    color: #222;
    font-size: 1.5rem;
}

